<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!--
    This file is meant to overwrite the ApplicationInsights.config from the
    MyApp project.  Otherwise, the test process itself will attempt to load the
    custom telemetry filters from the MyApp project, which interferes with
    Coverlet's instrumenting of the MyApp DLL.
  -->
</ApplicationInsights>
