<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetrySinks>
    <Add Name="default">
      <TelemetryProcessors>
        <Add Type="Actual.Type.Name.Does.Not.Matter, MyApp.Core" />
      </TelemetryProcessors>
    </Add>
  </TelemetrySinks>
</ApplicationInsights>
